<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://pbs.twimg.com/media/F5veb4lWYAAq8yH?format=png&name=small"
      cardTitle="teste de notícia"
      cardDescription="anunciada nova notícia novidade muito nova viu"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="notícia menor teste"
      photoCover="https://pbs.twimg.com/media/F5veb4lWYAAq8yH?format=png&name=small"
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
